extends layout
block content
 div.container-fluid
  div.row
   div.col-xs-4
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="go()" ) Avan&ccedil;a
   div.col-xs-4
  div.row
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="left()" ) Esquerda
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-danger( href="#", onclick="stop()" ) Para
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="right()" ) Direita
  div.row
   div.col-xs-4
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="goback()" ) Volta
   div.col-xs-4
