extends layout
block content
 div.container-fluid
  div.row
   div.col-xs-4
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="go()" ) Go
   div.col-xs-4
  div.row
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="left()" ) Left
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-danger( href="#", onclick="stop()" ) Stop
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="right()" ) Right
  div.row
   div.col-xs-4
   div.col-xs-4.text-center.bt-padding
    a.btn.btn-primary( href="#", onclick="goback()" ) Back
   div.col-xs-4
